<h1 class="page-header"> {{ 'pages.base64Decoder.pageHeader' | translate }} </h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ 'pages.base64Decoder.pageHeading' | translate }}
      </div>

      <div class="panel-body">
        <form role="form" novalidate="" [formGroup]="form">

          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                  <label for="encodeData"> {{ 'pages.base64Decoder.form.data' | translate }} </label>
                  <textarea
                    id="encodeData"
                    name="encodeData"
                    class="form-control expand-textarea"
                    rows="4"
                    formControlName="data"
                    >

                  </textarea>

                  <p [ngClass]="{'help-block': true, 'not-valid': !form.controls.data.valid}"> {{ 'pages.base64Decoder.form.dataHelpBlock' | translate }} </p>
                </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-4 col-md-6">

              <label for="outputFormat"> {{ 'pages.base64Decoder.form.outputFormatLabel'  | translate }} </label>
              <select
                class="form-control"
                id="outputFormat"
                name="outputFormat"
                formControlName="outputFormat">

                <option value=""></option>
                <option value="application/octet-stream" [selected]="form.controls.outputFormat.value == 'application/octet-stream'"> application/octet-stream </option>
                <option value="application/json" [selected]="form.controls.outputFormat.value == 'application/json'"> application/json </option>
                <option value="application/xml" [selected]="form.controls.outputFormat.value == 'application/xml'"> application/xml </option>
                <option value="application/pdf" [selected]="form.controls.outputFormat.value == 'application/pdf'"> application/pdf </option>
                <option value="text/csv" [selected]="form.controls.outputFormat.value == 'text/csv'"> text/csv </option>
                <option value="text/plain" [selected]="form.controls.outputFormat.value == 'text/plain'"> text/plain </option>
              </select>

              <p [ngClass]="{'help-block': true, 'not-valid': !form.controls.outputFormat.valid}"> {{ 'pages.base64Decoder.form.outputFormatHelpBlock' | translate }} </p>
            </div>

            <div class="col-lg-4 col-md-6">
              <label for="outputFilename"> {{ 'pages.base64Decoder.form.outputFilenameLabel'  | translate }} </label>
              <input
                class="form-control"
                id="outputFilename"
                name="outputFilename"
                autocomplete="off"
                formControlName="outputFilename">

              <p [ngClass]="{'help-block': true, 'not-valid': !form.controls.outputFilename.valid}"> {{ 'pages.base64Decoder.form.outputFilenameHelpBlock' | translate }} </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <button
                type="submit"
                class="btn btn-default"
                [disabled]="!form.valid"
                (click)="decodeData()"> {{ 'pages.base64Decoder.form.submit' | translate }} </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
