<h1 class="page-header"> {{ 'pages.pkiKeyGenerator.pageHeader' | translate }} </h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ 'pages.pkiKeyGenerator.panelHeading' | translate }}
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <form role="form" novalidate="" [formGroup]="form">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label> {{ 'pages.pkiKeyGenerator.form.keySize' | translate }} </label>
                    <select
                      class="form-control"
                      id="keySize"
                      name="keySize"
                      formControlName="keySize">

                      <option
                        *ngFor="let keySize of keySizes"
                        [value]="keySize"
                        [selected]="form.controls.keySize.value == keySize">
                        {{keySize}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                  <label> {{ 'pages.pkiKeyGenerator.form.algorithm' | translate }} </label>
                    <select
                      class="form-control"
                      id="algorithm"
                      name="algorithm"
                      formControlName="algorithm">

                      <option
                        *ngFor="let algorithm of algorithms"
                        [value]="algorithm"
                        [selected]="form.controls.algorithm.value == algorithm">
                        {{algorithm}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-default"
                      [disabled]="!form.valid"
                      (click)="execute()"> {{ 'pages.pkiKeyGenerator.form.submit' | translate }} </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let generated of generatedPairs; let index = index">
  <div class="col-md-12">

    <div class="panel panel-info">
      <div class="panel-heading">
        <button class="close" type="button" (click)="removeResult(index)">x</button>
        {{ 'pages.pkiKeyGenerator.results.heading' | translate }}
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <label> {{ 'pages.pkiKeyGenerator.results.publicKeyHeading' | translate }} </label>
            <textarea
              class="expand-textarea key-text"
              [value]="generated.public"
              rows="16">

            </textarea>

            <div class="row mt-6">
              <div class="col-md-12">
                <button
                  class="btn btn-primary"
                  type="button" (click)="downloadPublicKey(index)"> {{ 'pages.pkiKeyGenerator.results.downloadData' | translate }} </button>

                <app-copy-to-clipboard
                  class="ml-4"
                  [data]="generated.public">

                </app-copy-to-clipboard>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label> {{ 'pages.pkiKeyGenerator.results.privateKeyHeading' | translate }} </label>
            <textarea
              class="expand-textarea key-text"
              [value]="generated.private"
              rows="16">
            </textarea>

            <div class="row mt-6">
              <div class="col-md-12">
                <button
                  class="btn btn-primary"
                  type="button" (click)="downloadPrivateKey(index)"> {{ 'pages.pkiKeyGenerator.results.downloadData' | translate }} </button>

                <app-copy-to-clipboard
                  class="ml-4"
                  [data]="generated.private">

                </app-copy-to-clipboard>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
