<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" (click)="toggleSidebar();">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Dev Tools 1.0</a>
  </div>
  <!-- /.navbar-header -->

  <!-- sidebar -->
  <div class="navbar-default sidebar" role="navigation">
    <div [ngClass]="{'sidebar-nav': true, 'navbar-collapse': true, 'collapse': collapse, 'in': collapseIn}">
      <ul class="nav" id="side-menu">

        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
          </div>
          <!-- /input-group -->
        </li>

        <li>
          <a [routerLink]="['/op/base64-encoder']"> {{ 'menu.base64Encoder' | translate }} </a>
          <a [routerLink]="['/op/base64-decoder']"> {{ 'menu.base64Decoder' | translate }} </a>
          <a [routerLink]="['/op/bcrypt-password']"> {{ 'menu.bcryptPassword' | translate }} </a>
          <a [routerLink]="['/op/password-generator']"> {{ 'menu.passwordGenerator' | translate }} </a>
          <a [routerLink]="['/op/uuid-generate']"> {{ 'menu.uuidGenerator' | translate }} </a>
          <a [routerLink]="['/op/pki-key-generator']"> {{ 'menu.pkiKeyGenerator' | translate }} </a>
          <a [routerLink]="['/op/hr-oib']"> {{ 'menu.hrOib' | translate }} </a>
          <a [routerLink]="['/op/jsonpf']"> {{ 'menu.jsonpf' | translate }} </a>
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
