<h1 class="page-header"> {{ 'pages.bcryptPassword.pageHeader' | translate }} </h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ 'pages.bcryptPassword.panelHeading' | translate }}
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <form role="form" novalidate="" [formGroup]="form">

              <div class="row">
                <div class="col-md-4">

                  <div class="form-group">
                    <label for="numberOfIterations"> {{ 'pages.bcryptPassword.form.iterations' | translate }} </label>
                    <select
                      class="form-control"
                      id="numberOfIterations"
                      name="numberOfIterations"
                      formControlName="iterations">

                      <option value="4" [selected]="form.controls.iterations.value == 4">4</option>
                      <option value="5" [selected]="form.controls.iterations.value == 5">5</option>
                      <option value="6" [selected]="form.controls.iterations.value == 6">6</option>
                      <option value="7" [selected]="form.controls.iterations.value == 7">7</option>
                      <option value="8" [selected]="form.controls.iterations.value == 8">8</option>
                      <option value="9" [selected]="form.controls.iterations.value == 9">9</option>
                      <option value="10" [selected]="form.controls.iterations.value == 10">10</option>
                      <option value="11" [selected]="form.controls.iterations.value == 11">11</option>
                      <option value="12" [selected]="form.controls.iterations.value == 12">12</option>
                      <option value="13" [selected]="form.controls.iterations.value == 13">13</option>
                      <option value="14" [selected]="form.controls.iterations.value == 14">14</option>
                      <option value="15" [selected]="form.controls.iterations.value == 15">15</option>
                    </select>
                    <p class="help-block"> {{ 'pages.bcryptPassword.form.iterationsHelpBlock' | translate }} </p>
                  </div>

                </div>

                <div class="col-md-8">

                  <div class="form-group">
                    <label for="encryptData"> {{ 'pages.bcryptPassword.form.data' | translate }} </label>
                    <input
                      class="form-control"
                      id="encryptData"
                      name="encryptData"
                      autocomplete="off"
                      formControlName="data">

                    <p [ngClass]="{'help-block': true, 'not-valid': !form.controls.data.valid}"> {{ 'pages.bcryptPassword.form.dataHelpBlock' | translate }} </p>
                  </div>

                </div>
              </div>

              <button
                type="submit"
                class="btn btn-default"
                [disabled]="!form.valid"
                (click)="execute()"> {{ 'pages.bcryptPassword.form.submit' | translate }} </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="result">
  <div class="col-md-12">
    <div class="panel panel-info">

      <div class="panel-heading">
        <button class="close" type="button" (click)="clearResult()">x</button>
        {{ 'pages.bcryptPassword.result.title' | translate }}
      </div>

      <div class="panel-body">
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
              <strong> {{ 'pages.bcryptPassword.result.password' | translate }} </strong>
          </div>
          <div class="col-lg-10 col-md-9">
            {{ result.data }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
            <strong> {{ 'pages.bcryptPassword.result.iterations' | translate }} </strong>
          </div>
          <div class="col-lg-10 col-md-9">
            {{ result.iterations }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
            <strong> {{ 'pages.bcryptPassword.result.encodedData' | translate }} </strong>
          </div>
          <div class="col-lg-10 col-md-9 wrap-text">
            {{ result.encoded }}
          </div>
        </div>
        <div class="row mt-6">
          <div class="col-md-12">
             <app-copy-to-clipboard
             [data]="result.encoded">

             </app-copy-to-clipboard>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

