<h1 class="page-header">BCrypt Password Encoder</h1>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        Encoding Data
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <form role="form" novalidate="">

              <div class="row">
                <div class="col-md-4">

                  <div class="form-group">
                    <label> Iterations </label>
                    <select
                      class="form-control"
                      id="numberOfIterations"
                      name="numberOfIterations"
                      [(ngModel)]="model.iterations">

                      <option value="4" [selected]="model.iterations == 4">4</option>
                      <option value="5" [selected]="model.iterations == 5">5</option>
                      <option value="6" [selected]="model.iterations == 6">6</option>
                      <option value="7" [selected]="model.iterations == 7">7</option>
                      <option value="8" [selected]="model.iterations == 8">8</option>
                      <option value="9" [selected]="model.iterations == 9">9</option>
                      <option value="10" [selected]="model.iterations == 10">10</option>
                      <option value="11" [selected]="model.iterations == 11">11</option>
                      <option value="12" [selected]="model.iterations == 12">12</option>
                      <option value="13" [selected]="model.iterations == 13">13</option>
                      <option value="14" [selected]="model.iterations == 14">14</option>
                      <option value="15" [selected]="model.iterations == 15">15</option>
                    </select>
                    <p class="help-block"> number of iterations </p>
                  </div>

                </div>

                <div class="col-md-8">

                  <div class="form-group">
                    <label> Data </label>
                    <input
                      class="form-control"
                      id="encryptData"
                      name="encryptData"
                      autocomplete="off"
                      [(ngModel)]="model.data">

                    <p class="help-block"> password to encode </p>
                  </div>

                </div>
              </div>

              <button
                type="submit"
                class="btn btn-default"
                (click)="execute()"> Encode </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="result">
  <div class="col-md-12">
    <div class="panel panel-success">

      <div class="panel-heading">
        <button class="close" type="button" (click)="clearResult()">x</button>
        Result
      </div>

      <div class="panel-body">
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
              <strong>Password: </strong>
          </div>
          <div class="col-lg-10 col-md-9">
            {{ result.data }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
            <strong>Iterations: </strong>
          </div>
          <div class="col-lg-10 col-md-9">
            {{ result.iterations }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-2 col-md-3">
            <strong>Encoded data: </strong>
          </div>
          <div class="col-lg-10 col-md-9 wrap-text">
            {{ result.encoded }}
          </div>
        </div>
        <div class="row mt-6">
          <div class="col-md-12">
              <button
                class="btn btn-primary"
                [disabled]="isContentCopied"
                (click)="copyData()"> {{ isContentCopied ? "Copied" : "Copy To Clipboard" }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

