<h1 class="page-header"> {{ 'pages.passwordGenerator.pageHeader' | translate }} </h1>

<div class="row">
  <!-- Left Panel -->
  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ 'pages.passwordGenerator.panelHeading' | translate }}
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <form role="form" novalidate="" [formGroup]="form">

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label> {{ 'pages.passwordGenerator.form.config.title' | translate }}</label>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          formControlName="useCapitalLetters"> {{ 'pages.passwordGenerator.form.config.useCapitalLetters' | translate }}
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          formControlName="useSmallLetters"> {{ 'pages.passwordGenerator.form.config.useSmallLetters' | translate }}
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          formControlName="useNumbers"> {{ 'pages.passwordGenerator.form.config.useNumbers' | translate }}
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input
                          type="checkbox"
                          formControlName="useSpecial"> {{ 'pages.passwordGenerator.form.config.useSpecial' | translate }}
                      </label>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <label for="numberOfIterations"> {{ 'pages.passwordGenerator.form.config.length' | translate }} </label>
                    <select
                      class="form-control"
                      id="numberOfIterations"
                      name="numberOfIterations"
                      formControlName="characterCount">

                      <option
                        *ngFor="let option of optionValues"
                        [value]="option"
                        [selected]="form.controls.characterCount.value == option">
                        {{option}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-default"
                      [disabled]="!form.valid"
                      (click)="execute()"> {{ 'pages.passwordGenerator.form.config.submit' | translate }} </button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Left Panel -->

  <!-- Right Panel -->
  <div class="col-md-6">

    <div class="panel panel-info">

      <div class="panel-heading">
        <button class="close" type="button" (click)="clearPasswords()">x</button>
        {{ 'pages.passwordGenerator.results.panelHeading' | translate }}
      </div>

      <div class="panel-body">
        <div class="row" *ngIf="generatedPasswords.length == 0">
          <div class="col-md-12">
            <div class="alert alert-info">
              {{ 'pages.passwordGenerator.results.noData' | translate }}
            </div>
          </div>
        </div>
        <div class="row mt-6" *ngFor="let generatedPassword of generatedPasswords; let index = index">
          <div class="col-md-6 mt-2 wrap-text">
            {{ generatedPassword.password }}
          </div>
          <div class="col-md-6 mt-2">
            <app-copy-to-clipboard
              [data]="generatedPassword.password">

            </app-copy-to-clipboard>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Right Panel -->

</div>
