<h1 class="page-header"> {{ 'pages.jsonpf.pageHeader' | translate }} </h1>

<div class="row">

  <div class="col-md-12">

    <!-- OIB Generator start -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{ 'pages.jsonpf.panelHeading' | translate }}
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <form role="form" novalidate="" [formGroup]="form">
              <div class="form-group">
                <label for="encodeData"> {{ 'pages.jsonpf.form.data' | translate }} </label>
                <textarea
                  id="encodeData"
                  name="encodeData"
                  class="form-control expand-textarea"
                  rows="4"
                  formControlName="data">

                </textarea>

                <p [ngClass]="{'help-block': true, 'not-valid': !form.controls.data.valid}"> {{ 'pages.jsonpf.form.dataHelpBlock' | translate }} </p>

                <button
                  type="submit"
                  class="btn btn-default"
                  [disabled]="!form.valid"
                  (click)="format()"> {{ 'pages.jsonpf.form.submit' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- OIB Generator end -->

  </div>

</div>

<div class="row" *ngIf="formattedJson">
  <div class="col-md-12">
    <div [ngClass]="{'panel': true, 'panel-success': !isError, 'panel-danger': isError}">

      <div class="panel-heading">
        {{ 'pages.jsonpf.result.title' | translate }}
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <label for="resultData" class="base64-encode-result-header"> {{ 'pages.base64Encoder.result.data' | translate }} </label>
            <textarea
              id="resultData"
              name="resultData"
              class="expand-textarea-with-resize"
              [value]="formattedJson"
              rows="8">

            </textarea>
          </div>
          <div class="col-md-12 mt-2">
            <app-copy-to-clipboard
              [data]="formattedJson">

            </app-copy-to-clipboard>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
