/**
by default align right side to the end
 */
.navbar-top-links .dropdown-user {
  right: -105px;
  left: auto;
}

/**
for sm and md align left side to the start
 */
@media (min-width: 768px) {

  .navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
  }
}
